<section data-ng-controller="HomeController">
		<!-- <div class="slides_control">
		  <div class="carousels">
		    <carousel interval="myInterval" disable-animation="true">
		      <slide ng-repeat="slide in slides" active="slide.active">
		        <img ng-src="{{slide.image}}"class="caros-img" width="1400" height="100%" style="margin:auto;">
		        <div class="carousel-caption">
		          <h3 ng-bind="slide.caption"></h3>
		        </div>
		      </slide>
		    </carousel>
		  </div>
		</div> -->
	<div class="row">
		<div class="col-md-12">
			<h2>Welcome!</h2>
			<p>VroomVroom is the easiest, safest and most comfortable way to commute to and from work whether you have a car or not. VroomVroom connects you to verified drivers and riders going your way at the same time so you can share a ride together</p>
		</div>

		<div class="col-md-6">
			<div class="well">
				<h2>Do you own a ride?</h2>
				<p>
					Do you have a car? can you afford to help someone to with a ride? sign up here and pick someone on your way to work for a charge
				</p>
			</div>
		</div>

		<div class="col-md-6">
			<div class="well">
				<h2>Are you looking for a ride?</h2>
				<p>
					Are you tired of waiting endlessly and hustling for the bus when going to work or returning home? You can easily join someone around you that is going in your direction
				</p>
			</div>
	</div>

	<!-- <div class="col-md-12">
		
		<div class="slides_control">
		  <div class="carousels">
		    <carousel interval="myInterval" disable-animation="true">
		      <slide ng-repeat="slide in slides" active="slide.active">
		        <img ng-src="{{slide.image}}"class="caros-img" width="1400" height="100%" style="margin:auto;">
		        <div class="carousel-caption">
		          <h3 ng-bind="slide.caption"></h3>
		        </div>
		      </slide>
		    </carousel>
		  </div>
		</div>

		<div class="col-md-12">
			<h2>Welcome!</h2>
			<p>VroomVroom is the easiest, safest and most comfortable way to commute to and from work whether you have a car or not. VroomVroom connects you to verified drivers and riders going your way at the same time so you can share a ride together</p>
		</div>

		<div class="col-md-6">
			<div class="well">
				<h2>Do you own a ride?</h2>
				<p>
					Do you have a car? can you afford to help someone to with a ride? sign up here and pick someone on your way to work for a charge
				</p>
			</div>
		</div>

		<div class="col-md-6">
			<div class="well">
				<h2>Are you looking for a ride?</h2>
				<p>
					Are you tired of waiting endlessly and hustling for the bus when going to work or returning home? You can easily join someone around you that is going in your direction
				</p>
			</div>
		</div>

	</div> -->
</section>